* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    /* color: white; */
}

body {
    height: 100vh;
    /* background-color: #454545; */
}

button {
    float: right;
    width: 100px;
    height: 50px;
    color: lightgray;
    font-size: 1.1em;
    background-color: #454545;
    border-color:darkgray;
}

.CodeMirror {
    width: 60%;
}

.top-nav {
    padding-top: 10px;
    width:101.3%;
    background-color:rgb(228, 228, 228);
    height:80px;
    margin-top:-10px;
    margin-left:-10px;
    /* margin-bottom:30px; */

}

.omega-logo{
    padding-left:12px;
    padding-top:7px;
}

.omega-logo img {
    width:140px;
}

.github-logo {
    float:right;
    margin-top:-73px;
    margin-right:60px;

}

.github-logo img {
    width:50px;
}

.save-status {
    float:right;
    margin-right:250px;
    margin-top:-50px;
    padding-bottom:20px;
    color:green;

}

.save-button {
    background-color:rgb(56, 56, 255);
    padding:10px;
    width:50px;
    text-align: center;
    color:white;
    font-weight: 600px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius:3px;
    float:right;
    margin-right:150px;
    margin-top:-70px;
    clear: both;
}

.save-button:hover {
    cursor: pointer;
    background-color:rgb(96, 96, 255);
}

#container {
    position: absolute;
    width: 100%;
    height: 81.3%;
    overflow-y: scroll;
    /* display: inline-block; */
}

#bottom-half {
    /* display:flex; */
    display: block;
    min-height: 315px;
    width: 60%;
    background-color: #1f2028;
    color: #bd93f9;
}

.ql-editor {
    height: 100%;
    /* overflow-y: scroll; */
}

#quill {
    position: absolute;
    float: top;
    float: right;
    position: relative;
    height: 100%;
    width: 40%;
}

